body, html {
    height: 100%;
    margin: 0%;
    padding: 0;
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

a {
    color: 	#c3b99e;
    text-decoration: none;
 }
a:hover {
    color: #c3b99e;
}
a:visited {
    color: #c3b99e;
}

/* logo */
.logo {
    color: #000000;
    font-size: 27px;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
}
.logo a {
    text-decoration: none;
    color: #000000;
}


/* top navigation bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: #F0F0F0;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.navLinks {
    display: flex;
    justify-content: space-around;
    width: 40%;
 }
.navLinks a {
    font-size: 14px;
    color: #000000;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.navLinks a:hover{
    color: #c3b99e;
    transition: 0.3s;
}
.navLinks li {
    list-style: none;
}


/* hero image */
.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("src/IMG_3960.JPG");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
  }
.heroContainer {
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    height: auto;
    margin-left: 5vh;
    margin-top: 35vh;
}
.heroContainer h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
}


/* typewriter text */
.typedText {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #F0F0F0;
    text-transform: uppercase;
    display: inline-block;
}
.cursor { /* for the typing cursor */
    display: inline-block;
    width: 4px;
    font-size: 60px;
    background-color: #b0bcb1;
    margin-left: 0.2rem;
    display: inline-block;
    animation: blink 1s infinite;
}
@keyframes blink { /* for the typing cursor blinking animation */
    0% {background-color: #b0bcb1; }
    49% {background-color: #b0bcb1; }
    50% {background-color: transparent; }
    99% {background-color: #b0bcb1; }
    100% {background-color: #b0bcb1; }
}


/* for the body section (about, portfolio and contact sections) */
.aboutSection, .portfolioSection, .resumeSection { /* to add more if there are more setions */
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.contactSection {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 77vh; /* + .contactSection height = 115vh */
    width: 100%;
    overflow-y: hidden;
}
.bodyText { 
    margin-top: 10vh;
    width: 75%;
    height: 80vh; 
    font-size: 14px;
    line-height: 35px;
    position: relative;
    overflow-x: hidden;
    color: #787878;
}


/* about section */
.bodyImage {
    float: left;
    margin-right: 30px;
    margin-bottom: 5px;
    height: auto;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid #F0F0F0;
}
.aboutBody {
    padding-left: auto;
    margin-top: 30px;
}


/* portfolio section */
.portfolioSlider {
    display: flex;
    width: 300%; /* change this to (number of sections)*100% */
    transition: all 0.5s;
    overflow-y: scroll;
}
.portfolioSlider section {
    flex-basis: 100%;
}
.portfolioBody {
    margin-top: 30px;
    border: 1px solid;
}
.row {
    text-align: center;   
}
.column {
    position: relative;
    display: inline-block;
    justify-content: space-around;
    padding: 0 1vh;
}
.column div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #000000;
    visibility: hidden;
    line-height: 1.6;
    width: 80%;
}
.column div p {
    font-size: 13px;
    color: #554f5c;
    line-height: normal;
}
.column img {
    width: 22vh;
    height: 22vh;
    object-fit: cover;
}
.column img:hover {
    transition: 1s;
    opacity: 0.2;
}
.column:hover div {
    transition: 0.6s;
    visibility: visible;
    opacity: 1;
}
.column div:hover {
    transition: 0.6s;
    visibility: visible;
    opacity: 1;
}
.portfolioBody p {
    text-align: center;
}
.portfolioBody p a {
    color: 	#c3b99e;
    text-decoration: none;
}
.leftArrowPortfolio {
    position: absolute;
    top: 49%;
    cursor: pointer;
    left: 1vh;
    z-index: 5;
    transform: translateY(-50%);
    opacity: 0.5;
}
.rightArrowPortfolio {
    position: absolute;
    top: 49%;
    cursor: pointer;
    right: 3vh;
    z-index: 5;
    transform: translateY(-50%);
    opacity: 0.5;
}
.leftArrowPortfolio:hover, .rightArrowPortfolio:hover {
    opacity: 1;
    transition: 0.3s;
}


/* resume section */
.timeline {
    position: relative;
    width: 100%;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background:  #F0F0F0;
}
.timeline ul {
    margin: 0;
    padding: 4vh;
}
.timeline ul li{
    list-style: none;
    line-height: normal;
    position: relative;
    width: 45%;
    padding-bottom: 2vh;
}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}
/* for date in timeline */
.timeline ul li:nth-child(odd) .timelineTime { 
    padding: 0.5vh;
    border-bottom: 2.5px solid #F0F0F0;
    color: #554f5c;
}
/* for date in timeline */
.timeline ul li:nth-child(even) .timelineTime {
    padding: 0.5vh;
    border-bottom: 2.5px solid #F0F0F0;
    color: #554f5c;
}
.timeline ul li a { 
    text-decoration: none;
    color: #c384a0;
}
.timeline ul li a:hover { 
    color: #c3b99e;
    transition: 0.3s;
}
.timeline ul li a:visited { 
    color: #c384a0;
}


/* sliders and arrows in resume */
.slider {
    display: flex;
    width: 200%; /* change this to (number of section)*100% */
    transition: all 0.5s;
    overflow-y: scroll;
    height: 69vh;
}
.slider section {
    flex-basis: 100%;
}
.leftArrowResume {
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 1vh;
    z-index: 5;
    transform: translateY(-50%);
    opacity: 0.5;
}
.rightArrowResume {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 3vh;
    z-index: 5;
    transform: translateY(-50%);
    opacity: 0.5;
}
.leftArrow:hover, .rightArrow:hover {
    opacity: 1;
    transition: 0.3s;
}


/* contact section */
.table { /* for centering the icons */
    display: block;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
.socialLinks {
    list-style: none;
    padding-left: 0;
}
.socialLinks li {
    display: contents;
 }
.socialLinks img {
    width: 9vh;
    opacity: 0.3;
}
.socialLinks img:hover {
    opacity: 1;
    transition: 1s;
}


/* header and paragraph styles */
h3 {
    font-size: 18px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #c384a0;
}
h4 {
    margin-top: -10px;
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    color: #000000;
}
h5 {
    margin-top: 1vh;
    margin-bottom: 0;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #c384a0;
}
h6 {
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #5e647b;
}
.miniHeader {
    margin-bottom: 4vh;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    color: #5e647b;
    text-decoration: underline;
}
p.big {
    margin-bottom: 5vh;
}


/* footer */
footer {
    background-color: #F0F0F0;
    height: 8vh; /* + .contactSection height = 115vh */
    padding: 5vh 10vh 5vh;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    margin-bottom: -15vh;
}
footer p {
    font-size: 11px;
    text-transform: uppercase;
}
